<footer> 

<div class="lockup">
	
	<div class="logo-content">

		<a div class="logo" href="">{% include icons/logo2.html %}</a>

		<p class="summary">“LunchCrunch is an SMS-based service that offers the convenience of lunch-ordering during work hours and personal delivery to retail employees.  We are commited to enhance the work experience of our customers by saving them time. “</p> 
	</div>
	
	<div class="content-wrap">
		<div class="nav-columns"> 
			<ul>
				<li>
					<a class="bold" href="#About">About</a>
				</li>
				<li>
					<a href="">Who are we?</a>
				</li>
				<li>
					<a href="">Our Principles</a>
				</li>
				<li>
					<a href="">Partners </a>
				</li>
				
			</ul>
		</div>
		<div class="nav-columns"> 
			<ul>
				<li>
					<a class="bold" href="#Jobs">Join Us</a>
				</li>
				<li>
					<a href="#Jobs">Runners</a>
				</li>
				<li>
					<a href="#Partners">Restaurants</a>
				</li>
				
			</ul>
		</div>
		<div class="nav-columns"> 
			<ul>
				<li>
					<a class="bold" href="#Jobs">Contact Us</a>
				</li>
				<li>
					<a href="">{{ site.email }}</a>
				</li>
				<li>
					<a href="">Phone number</a>
				</li>
				
			</ul>
		</div>
	
	</div>
	
	<p class="copyright">All rights reserved copyright 2015</p>
		
</div>





</footer>