<header> 

	<a div class="logo" href="">{% include icons/logo.html %}</div></a>
	
	<nav>
		<a href="#About">About</a>
		<a href="#Jobs">Jobs</a>
		<a href="#Contact">Contact Us</a>
	</nav>
	
	<h1>Hungry? We can deliver lunch <br>straight to your desk</h1>
	
	<p class="kicker">We are bringing text-message ordering and delivery to a shopping center near you.</p>
	
 	<!-- Begin MailChimp Signup Form -->

	<div id="mc_embed_signup">

		<form action="//facebook.us10.list-manage.com/subscribe/post?u=3ccbf79d4efac7911aed5b2fc&amp;id=109d7fffae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

		    <div id="mc_embed_signup_scroll">
			
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address" required>

			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

			    <div style="position: absolute; left: -5000px;">
			    	<input type="text" name="b_3ccbf79d4efac7911aed5b2fc_109d7fffae" tabindex="-1" value="">
			    </div>

			    <div class="button"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
			    </div>

		    </div>

		</form>

	</div>

<!--End mc_embed_signup-->


	<p class="kicker2">Delivering to Pentagon City Mall in Arlington, VA this Fall 2015</p>
	
</header>