<section class="bg-how-to"> 

	<h1>Get Lunch Delivered Straight To Work</h1>

	<p class="kicker3">Whenever you need an extra boost, we're here<p> 

	<div class="icon-lockup">
	
		<div class="icon-phone">
			{% include icons/phone.html %}
			
			<p class="stronger">Text LunchRun #</p>
			<p>Want a Classic Bacon Burger with cheddar, and fries? Coming right up.</p>
		
		</div>
		
		<div class="icon-clock">
			{% include icons/clock.html %}
			
			<p class="stronger">Choose A Time</p>
			<p>Let us know if this is for breakfast, lunch or dinner. We’ll schedule it for that time. </p>
			
		</div>
		
		<div class="icon-plate">
			{% include icons/plate.html %}
			<p class="stronger">Happy Eating</p>
			<p>Get your order delivered personally by us! </p>
			
		</div>
			
		<div class="icon-credit">
			{% include icons/credit.html %}
			
			<p class="stronger">Pay Happy</p>
			<p>Swipe your card at delivery, or use Apple Pay to purchase your next lunch. </p>
		</div>
	
	</div>
	
</section>