<section class="join-us">
	
	<h1>Join Our Team!</h1>
	
	<div class="kicker">Be part of our Official Brand and explore the benefits of working with LunchRun. We provide excellent part-time and full-time positions, and we make it extremely flexible for our candidates. We’re looking for enthusiastic people that radiate enthusiasm and empathy with our customers.
	</div>
	
	<form>	
	
	<button class="button" type="submit">Explore Open Positions</button>
	
	</form>
	
	<div class="job-lockup">
	
		<div class="Runners">
		
			<div class="runner-img"></div>
			
			<div class="blurb">
				<p class="headline">Runners</p>
				<p>Runners are in charge of  getting orders delivered to their rightful locations. They’re an integral part of our team, and meet our customers face to face every day.  </p>
			</div>
		
		</div>
		
		<div class="Programmers">
		
			<div class="programmer-img"></div>
			
			<div class="blurb">
				<p class="headline">Programmers</p>
				<p>We are looking for programmers that are proficient in PHP and back-end coding to solidify our analytics, and system foundation. Twilio API experience is also preferred. </p>
			</div>
		
		</div>
	
		<div class="Logistics">
		
			<div class="logistic-img"></div>
			
			<div class="blurb">
				<p class="headline">Logistics</p>
				<p>Our logistics team is in charge of managing orders and assigning them to runners, ontop of other various tasks, including training, and setting appointments. </p>
			</div>
		
		</div>
		
	
	</div>





</section>