<section class="mobile-display">	

	<h1>No Apps Needed. Just send us a simple text-message.</h1>
	
	
	<div class="icon2-lockup">
					
		<div class="mobile-phones"></div>
		
		<div class="blurbs">
			
			<div class="icon-text"> 
			
				<div class="text-img" {% include icons/text.html %} </div>
			 
				<p class="stronger2">Text us your order</p>
			
				<p>Include your full Starbucks order, name, phone number, and drop off location, and we’ll get everything ready for you. </p>
			
			</div>
			
			
			<div class="icon-schedule"> 
			
				<div class="schedule-img" {% include icons/schedule.html %} </div>
				
				<p class="stronger2">Schedule drop-off</p>
			
				<p>Pick our 8:00am delivery time when you couldn’t get your morning cup of coffee. We’ll make sure it’s just right.</p>
				
			</div>
			
			
			<div class="icon-plane"> 
			
				<div class="plane-img" {% include icons/plane.html%} </div>
				
				<p class="stronger2" id="Partners">Tell your co-workers!</p>
			
				<p>Have them text us their email along with your name, and get your first three $2 delivery fee waived. That’s it! 
				</p>

			</div>
			
		</div>
				
	</div>


</section>