<section class="more-customers">

	<h1>Have a Business? Get More Orders, And Grow Your Customers</h1>
	
	
	<div class="kicker">Get more exposure for your business, and we’ll provide the delivery. With Lunchrun, you’ll have a new customer base from surrounding retail locations, and shopping centers. Let’s bridge that gap. </div>

	<form>
		<button class="button" type="submit">Become a Restaurant Partner</button>
	</form>
	 
	<div class="icon-people" id="Jobs">
			{% include icons/people.html %}
	</div>





</section>